.main{
	margin-top: 70px;
	color: #008c34;
	line-height: 1.5;

	&__content{
		@include row();
		text-align: center;
	}

	&__img{
		margin-top: 50px;

		img{
			border-radius: 1em;
		}
	}

	&__title{
		font-size: 5rem;
    	font-weight: 600;
        font-family: 'Forum', cursive;
	}

	&__subtitle{
		font-size: 2rem;
		color: #999;
	}

	&__social{
		@include row();
		text-align: center;
	}

}